---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

// Team images
import p1 from "@assets/team/KI03.png";
import p2 from "@assets/team/W2BJR.png";
import p3 from "@assets/team/KD7RBX.png";
import p4 from "@assets/team/AB7XX.png";
import p5 from "@assets/team/KI7PWR.png";
import p6 from "@assets/team/N7XH.png";
import p7 from "@assets/team/KJ7NYE.png";

const team = [
  {
    pic: p1,
    name: "Kim Gross",
    role: "President and Founder",
    callsign: "KI03",
  },
  {
    pic: p2,
    name: "Brian Roberts",
    role: "Vice President",
    callsign: "W2BJR",
  },
  {
    pic: p3,
    name: "Hoot Gibson",
    role: "Director",
    callsign: "KD7RBX",
  },
  {
    pic: p4,
    name: "Alan Blackmon",
    role: "Director",
    callsign: "AB7XX",
  },
  {
    pic: p5,
    name: "Elaine Gross",
    role: "Director",
    callsign: "KI7PWR",
  },
  {
    pic: p6,
    name: "Michael Leister",
    role: "Director",
    callsign: "N7XH",
  },
  {
    pic: p7,
    name: "Steven Hanson",
    role: "Secretary",
    callsign: "KJ7NYE",
  },
];
---

<Section id="about">
  <div class="mt-[120px] mb-20">
    <SectionTitle
      sectionTitle="Team"
      description="Meet the dedicated officers keeping our club active and on the air."
    />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <div class="xl:last:col-start-2">
            <TeamCard
              key={index}
              pic={member.pic}
              name={member.name}
              role={member.role}
              callsign={member.callsign}
            />
          </div>
        ))
      }
    </div>
  </div>
</Section>
