---
import SectionTitle from "../ui/SectionTitle.astro";
import TeamCard from "../ui/TeamCard.astro";
import Section from "./Section.astro";

const team = [
  {
    pic: "/team/KI03.png",
    name: "Kim Gross",
    role: "President and Founder",
    callsign: "KI03",
  },
  {
    pic: "/team/W2BJR.png",
    name: "Brian Roberts",
    role: "Vice President",
    callsign: "W2BJR",
  },
  {
    pic: "/team/KD7RBX.png",
    name: "Hoot Gibson",
    role: "Director",
    callsign: "KD7RBX",
  },
  {
    pic: "/team/AB7XX.png",
    name: "Alan Blackmon",
    role: "Director",
    callsign: "AB7XX",
  },
  {
    pic: "/team/KI7PWR.png",
    name: "Elaine Gross",
    role: "Director",
    callsign: "KI7PWR",
  },
  {
    pic: "/team/N7XH.png",
    name: "Michael Leister",
    role: "Director",
    callsign: "N7XH",
  },
  {
    pic: "/team/KJ7NYE.png",
    name: "Steven Hanson",
    role: "Secretary",
    callsign: "KJ7NYE",
  },
];
---

<Section id="about">
  <div class="mt-[120px] mb-20">
    <SectionTitle
      sectionTitle="Team"
      description="Meet the dedicated officers keeping our club active and on the air."
    />
    <div
      class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 grid-rows-2 gap-10"
    >
      {
        team.map((member, index) => (
          <div class="xl:last:col-start-2">
            <TeamCard
              key={index}
              pic={member.pic}
              name={member.name}
              role={member.role}
              callsign={member.callsign}
            />
          </div>
        ))
      }
    </div>
  </div>
</Section>
